[project]
channels = ["conda-forge"]
name = "sst-nexafs-profile-collection"
platforms = ["linux-64"]
version = "2025.3.0"

[system-requirements]
libc = "2.17"

[feature.base.dependencies]
bluesky-base = "*"
bluesky-queueserver = "*"
matplotlib-base= ">=3.9.3,<4"
networkx = ">=3.4.2,<4"
nslsii = ">=0.11.2,<0.12"
numpy = "*"
pyepics = "*"
python = ">=3.12.11,<3.13"
semver = ">=3.0.4,<4"
tiled-client = ">=0.1.0b11,<0.1.1"

# needed until we get p4p packaged
nose2 = ">=0.9.2,<0.10"
ply = ">=3.11,<4"
# needed until we get ophyd-async packaged
colorlog = ">=6.9.0,<7"
epicscorelibs = "*"
pydantic-numpy = "*"
ipython = ">=9.5.0,<10"
databroker = ">=2.0.0b67"
bluesky-tiled-plugins = ">=2.0.0b67"

[feature.base.pypi-dependencies]
ophyd-async = { version = ">=0.9.0, <0.10", extras = ["ca", "pva"] }

[feature.nbs.pypi-dependencies]
nbs-core = { git = "https://github.com/xraygui/nbs-core", rev = "v0.0.2" }
nbs-bl = { git = "https://github.com/xraygui/nbs-bl", rev = "v0.1.2" }
sst-base = { git = "https://github.com/nsls-ii-sst/sst_base" }

[feature.qs.dependencies]
bluesky-queueserver = "*"
bluesky-httpserver = "*"

[feature.sim-base.dependencies]
pyepics = "*"
python = ">=3.12.11,<3.13"
bluesky-base = "*"
pyzmq = ">=27.1.0,<28"

[feature.sim.pypi-dependencies]
ophyd = "*"
nbs-sim = { git = "https://github.com/xraygui/nbs-sim", rev = "v0.1.0" }
caproto = { git = "https://github.com/cjtitus/caproto.git", branch="no_macros" }

[feature.gui-base.dependencies]
asteval = ">=1.0.6,<2"
bluesky-widgets = ">=0.0.17,<0.0.18"
bluesky-live = ">=0.0.8,<0.0.9"
qt6-wayland = "*"
pyside6 = "*"

[feature.gui.pypi-dependencies]
livetable = { git="https://github.com/xraygui/livetable" }
nbs-gui = { git="https://github.com/xraygui/nbs-gui", rev="v0.1.0" }
qtconsole = "*"

[feature.viewer.dependencies]
pyqtgraph = ">=0.13.7,<0.14"

[feature.viewer.pypi-dependencies]
nbs-viewer = ">=0.3.2, <0.4"


[feature.qs.tasks]
# This section needs some development work to understand the best way to
# thread the required configuration through both the task and files checked into
# the profile.  These will interact with the ansible roles for pushing out the
# systemd units
qs-backend = "start-re-manager --redis-addr redis:6379 --zmq-publish-console ON --use-ipython-kernel ON --ipython-kernel-ip auto --startup-profile default"
qs-server = "uvicorn --host localhost --port 60610 bluesky_httpserver.server:app"
qs = "scripts/qs-start.sh"
qs-dev = "scripts/qs-dev.sh"

[feature.gui.tasks]
gui = "scripts/gui-start.sh"
gui-dev = "scripts/gui-dev.sh"


[feature.viewer.tasks]
viewer = "scripts/viewer-start.sh"
viewer-dev = "scripts/viewer-dev.sh"

[feature.sim.tasks]
sim = "scripts/sim-start.sh"
sim-dev = "scripts/sim-dev.sh"

[environments]
base = {features=["base"], solve-group="base"}
qs = {features=["base", "nbs", "qs"], solve-group="base"}
sim = {features=["sim-base", "sim", "nbs"]}
gui = {features=["base", "nbs", "gui-base", "gui"], solve-group="base"}
viewer = {features=["base", "gui-base", "viewer"], solve-group="base"}

