# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# Editor temporary/backup files
*~
\#*\#
.\#*


# Environment
.env
.venv/
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# QueueServer
config/ipython/profile_default/history.sqlite
config/ipython/profile_default/startup/existing_plans_and_devices.yaml