version: '3'

services:
  bluesky:
    build:
      context: .
      dockerfile: images/bluesky/Containerfile
    image: bluesky:latest

  queueserver:
    build:
      context: .
      dockerfile: images/queueserver/Containerfile
      args:
        BASE_IMAGE: bluesky:latest
    image: queueserver:latest
    depends_on:
      - bluesky

  gui:
    build:
      context: .
      dockerfile: images/gui/Containerfile
      args:
        BASE_IMAGE: bluesky:latest
    image: gui:latest
    depends_on:
      - bluesky

  viewer:
    build:
      context: .
      dockerfile: images/viewer/Containerfile
      args:
        BASE_IMAGE: bluesky:latest
    image: viewer:latest
    depends_on:
      - bluesky

  sim:
    build:
      context: .
      dockerfile: images/sim/Containerfile
      args:
        BASE_IMAGE: bluesky:latest
    image: sim:latest
    depends_on:
      - bluesky
