recursive-include src/nbs_pods/compose *.yml *.yaml
recursive-include src/nbs_pods/config *.toml *.py *.yml *.yaml *.json *.sh *.txt
recursive-include src/nbs_pods/templates *
prune src/nbs_pods/config/ipython/profile_default/.pixi
global-exclude __pycache__ *.py[cod] .DS_Store
global-exclude history.sqlite
global-exclude *.log
include README.md