[gui]
header = "ucal-header-widget"

[gui.tabs]
include = ["nbs-gui-queue", "kafka-table-tab", "nbs-gui-console", "nbs-gui-monitor", "nbs-gui-motors", "ucal-gui-samples", "ucal-tes-tab"]

[gui.plans]
include = [
    "nbs-gui-scan",
    "nbs-gui-move", 
    "nbs-gui-xas",
    "nbs-gui-timescan",
    "nbs-gui-varscan",
    "nbs-gui-flyscan",
    "ucal-tes-cal",
    "ucal-tes-setup",
    "manual-sample-move"
]

[models.beamline]
primary_energy = "en"
primary_manipulator = "manipulator"
loader = "nbs_bl.qt.models.beamline.SSTBeamlineModel"

[devices]
psh1 = { visible = false, view_only = true }
psh4 = { visible = false }
Exit_Slit = { label = "Exit Slit" }
en = {"_role" = "energy", "load_order" = 1}
tes = { "_group" = "misc" }

[loaders]
"EnPosFactory" = "ucal.qt.models.energy.EnergyModel"
"I400SingleCh" = "nbs_gui.models.ScalarModel"
"PrettyMotorFMBO" = "nbs_gui.models.MotorModel"
"FMBHexapodMirror" = "nbs_gui.models.ManipulatorModel"
"EpicsSignalRO" = "nbs_gui.models.PVModel"
"EpicsSignal" = "nbs_gui.models.PVModel"
"ShutterSet" = "nbs_gui.models.GVModel"
"EPS_Shutter" = "nbs_gui.models.GVModel"
"ManipulatorBuilder" = "nbs_gui.models.ManipulatorModel"
"ADCBuffer" = "nbs_gui.models.ScalarModel"
"PrettyMotor" = "nbs_gui.models.MotorModel"
"StandardProsilicaV33" = "nbs_gui.models.PVModel"
"MultiMeshBuilder" = "nbs_gui.models.ManipulatorModel"
"TESMCAFactory" = "ucal.qt.models.tesModel.TESModel"

[kafka]
config_file = "/etc/bluesky/kafka.yml"
bl_acronym = "nbs"