version: '3'

networks:
  bluesky:
    driver: bridge
    dns:
      - 8.8.8.8

volumes:
  bitnami-kafka:
  bitnami:


services:
  mongo:
    image: docker.io/mongo:latest
    networks:
      - bluesky

  zmq_proxy:
    image: ghcr.io/xraygui/nbs-pods/queueserver:latest
    command: pixi run -e qs bluesky-0MQ-proxy 4567 5678
    networks:
      - bluesky

  zmq_proxy2:
    image: ghcr.io/xraygui/nbs-pods/queueserver:latest
    command: pixi run -e qs bluesky-0MQ-proxy 5577 5578
    networks:
      - bluesky
    ports:
      - "5578:5578"

  #zookeeper:
  #  image: "docker.io/bitnami/zookeeper:latest"
  #  environment:
  #    - ALLOW_ANONYMOUS_LOGIN=yes
  #  volumes:
  #    - bitnami:/bitnami
  #  networks:
  #    - bluesky

  kafka:
    image: "docker.io/bitnami/kafka:latest"
    environment:
      - KAFKA_CFG_KRAFT_MODE_ENABLED=true
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:29092,PLAINTEXT_HOST://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29092,PLAINTEXT_HOST://kafka:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_MESSAGE_MAX_BYTES=1048588
    volumes:
      - bitnami-kafka:/bitnami/kafka
    ports:
      - "9092:9092/tcp"
    networks:
      - bluesky

  kafka-setup:
    image: "docker.io/bitnami/kafka:latest"
    depends_on:
      - kafka
    command: >
      bash -c '
        echo "Waiting for Kafka to be ready..."
        sleep 10
        kafka-topics.sh --create --if-not-exists --bootstrap-server kafka:29092 --topic nbs.bluesky.runengine.documents --partitions 1 --replication-factor 1
      '
    networks:
      - bluesky

  redis:
    image: docker.io/redis
    networks:
      - bluesky

  redisInfo:
    image: docker.io/redis
    command: redis-server --port 60737
    networks:
      - bluesky

  tiled_server:
    image: ghcr.io/bluesky/databroker:v2.0.0b65
    command: tiled serve config /etc/tiled/config --host 0.0.0.0
    volumes:
      - ${NBS_PODS_DIR}/config/tiled/config:/etc/tiled/config
    ports:
      - "8000:8000"
    networks:
      - bluesky
