version: '3'

networks:
  bluesky-services_bluesky:
    external: true

services:
  nbs-sim:
    image: ghcr.io/xraygui/nbs-pods/sim:latest
    command: pixi run sim
    networks:
      - bluesky-services_bluesky
